@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cinzel:wght@500&family=DotGothic16&family=EB+Garamond&family=Major+Mono+Display&family=Parisienne&family=Raleway&family=Rubik+Marker+Hatch&family=Silkscreen&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

body{
    background: linear-gradient(90deg, rgba(116,222,222,1) 0%, rgba(146,89,240,1) 56%, rgba(210,106,240,1) 100%); 
}

h1{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 5em;
    text-align: center;
}

p.serif{
    font-family: 'EB Garamond', serif;
    font-size: 1.75em;
}
p.sans{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}
p.display{
    font-family: 'Silkscreen', cursive;
}
p.hand{
    font-family: 'Parisienne', cursive;
    font-size: 1.75em;
}
p.mono{
    font-family: 'Syne Mono', monospace;
    font-size: 1.5em;
}

#se{
    font-family: 'Cinzel', serif;
    font-size: 1.80em;
    text-align: center;
}
#sa{
    font-family: 'DotGothic16', sans-serif;
    text-align: center;
}
#di{
    font-family: 'Rubik Marker Hatch', cursive;
    font-size: 1.80em;
    text-align: center;
}
#had{
    font-family: 'Bad Script', cursive;
    font-size: 1.80em;
    text-align: center;
}
#mon{
    font-family: 'Major Mono Display', monospace;
    text-align: center;
}